@font-face {
	font-family: OPPO-Sans-Regular;
	font-weight: 400;
	font-display: swap;
	src: url(//code.oppo.com/content/dam/oppo/common/fonts/font2/new-font/OPPOSansOS2-5000-Regular.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans-Medium;
	font-weight: 500;
	font-display: swap;
	src: url(//code.oppo.com/content/dam/oppo/common/fonts/font2/new-font/OPPOSansOS2-5000-Medium.woff2) format('woff2');
}

@font-face {
	font-family: JetBrainsMono-Regular;
	font-display: swap;
	src: url('/font/JetBrainsMono-Regular.woff2') format('woff2');
}

div {
	font-family: OPPO-Sans-Regular;
}

h1 {
	font-family: OPPO-Sans-Medium;
}
